In [1]:
import pandas as pd
import re

In [2]:
bank_statement_df = pd.read_excel(r"D:\NPS_phase1\nps-reconciliation\output\BANK STMT PHASE 4\Bank_Lumbini.xlsx", skiprows=1)

In [3]:
bank_statement_df.head()

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number
0,1,92681901013,-353736.0,DR,GMEREMIT#GME-040600,NPS-IF-3134648,LXBLNPKA,2023-08-29T00:51:00,NaN
1,2,92681901013,980.0,CR,9804686346,100003988888,2492673,2023-08-29T12:05:00,NaN
2,3,92681901013,-33574.0,DR,NEPALREMIT#Fund Tra,NPS-IF-3137219,SIDDNPKA,2023-08-29T11:43:00,NaN
3,4,92681901013,-98203.0,DR,GMEREMIT#GME-429952,NPS-IF-3136886,LXBLNPKA,2023-08-29T10:50:00,NaN
4,5,92681901013,-352471.0,DR,GMEREMIT#GME-429968,NPS-IF-3136860,LXBLNPKA,2023-08-29T10:47:00,NaN

In [4]:
for index, row in bank_statement_df.iterrows():
    # print(bank_statement_df.iloc[index]['Transaction ID'])
    for roww in (str(row['Desc2']) ,str( row['Desc3'])):
        id = ''
        if "NPS-IF-" in roww:
            id = re.findall(r'[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction Id'] = id[0]
            break
        
        
        elif "10000" in roww:
            id = re.findall(r'10*[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction Id'] = id[0].replace("10000","")
            break
        
        elif "FTMS-" in roww:
            id = re.findall(r'[0-9]{6}',roww)
            bank_statement_df.loc[index, 'Transaction Id'] = id[0]

In [5]:
bank_statement_df.head(15)

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number,Transaction Id
0,1,92681901013,-353736.00,DR,GMEREMIT#GME-040600,NPS-IF-3134648,LXBLNPKA,2023-08-29T00:51:00,NaN,3134648
1,2,92681901013,980.00,CR,9804686346,100003988888,2492673,2023-08-29T12:05:00,NaN,3988888
2,3,92681901013,-33574.00,DR,NEPALREMIT#Fund Tra,NPS-IF-3137219,SIDDNPKA,2023-08-29T11:43:00,NaN,3137219
3,4,92681901013,-98203.00,DR,GMEREMIT#GME-429952,NPS-IF-3136886,LXBLNPKA,2023-08-29T10:50:00,NaN,3136886
4,5,92681901013,-352471.00,DR,GMEREMIT#GME-429968,NPS-IF-3136860,LXBLNPKA,2023-08-29T10:47:00,NaN,3136860
5,6,92681901013,-140071.35,DR,NEPALREMIT#Fund Tra,NPS-IF-3142715,NICENPKAOff,2023-08-29T22:17:00,NaN,3142715
6,7,92681901013,-140071.35,DR,NEPALREMIT#Fund Tra,NPS-IF-3142715,NICENPKA,2023-08-29T22:17:00,NaN,3142715
7,8,92681901013,1000.00,CR,9860621996,100003988162,2492050,2023-08-29T10:13:00,NaN,3988162
8,9,92681901013,1200.00,CR,9761626738,100003988059,2491974,2023-08-29T09:57:00,NaN,3988059
9,10,92681901013,1308711.01,CR,314127,26275,eod8-28-CIPS,2023-08-29T09:43:00,NaN,NaN
10,11,92681901013,-59422.00,DR,GMEREMIT#GME-202355,NPS-IF-3142271,MBLNNPKA,2023-08-29T20:44:00,NaN,3142271
11,12,92681901013,-4000.00,DR,NEPALREMIT#Fund Tra,NPS-IF-3135831,NICENPKA,2023-08-29T08:21:00,NaN,3135831
12,13,92681901013,-41850.00,DR,IPAY11340178700,FTMS-181602,LUBLNPKA,2023-08-29T08:10:00,NaN,181602
13,14,92681901013,-100056.00,DR,GMEREMIT#GME-250820,NPS-IF-3135740,LXBLNPKA,2023-08-29T08:05:00,NaN,3135740
14,15,92681901013,100.00,CR,9741724224,100003991022,2495215,2023-08-29T19:40:00,NaN,3991022