In [27]:
import pandas as pd
import re

In [28]:
# import requests
from bs4 import BeautifulSoup
import pandas as pd

url = r"D:\NPS_phase1\nps-reconciliation\output\BANK STMT PHASE 4\Bank_NIBL.xls"

with open(url, 'r', encoding='utf-8') as file:
    html_content = file.read()

soup = BeautifulSoup(html_content, 'html.parser')

# print(f"worksheet_url===={soup}")

table = soup.find('table')

file.close()

bank_statement_df = pd.read_html(str(table), skiprows=2)[0]

bank_statement_df

,0,1,2,3,4,5
0,Transaction Date,Description,Check No.,Cr/Dr,Transaction Amount,Balance
1,05/09/2023,NPS-IF-3191960 /NPSNIBLMERCHANT 000011159224,NaN,Cr,3000.00,NaN
2,05/09/2023,NPS-IF-3192006 /NPSNIBLMERCHANT 000011159747,NaN,Cr,170.00,NaN
3,05/09/2023,NPS-IF-3192073 /NPSNIBLMERCHANT 000011160439,NaN,Cr,2000.00,NaN
4,05/09/2023,NPS-IF-3192037 /NPSNIBLMERCHANT 000011160040,NaN,Cr,100.00,NaN
...,...,...,...,...,...,...
1652,05/09/2023,NPS-IF-3201322 /NPSNIBLMERCHANT 000011212834,NaN,Cr,20000.00,NaN
1653,05/09/2023,NPS-IF-3201324 /NPSNIBLMERCHANT 000011212841,NaN,Cr,101166.24,NaN
1654,05/09/2023,NPS-IF-3201325 /NPSNIBLMERCHANT 000011212844,NaN,Cr,30585.00,NaN
1655,05/09/2023,NPS-IF-3201339 /NPSNIBLMERCHANT 000011213064,NaN,Cr,61930.05,NaN
1656,05/09/2023,Date Summary,NaN,NaN,NaN,11536117.20

In [29]:
# Set the values in the first row as column names
bank_statement_df.columns = bank_statement_df.iloc[0]
# Drop the first row (which is now the column names)
bank_statement_df = bank_statement_df.iloc[1:]

In [30]:
bank_statement_df

,Transaction Date,Description,Check No.,Cr/Dr,Transaction Amount,Balance
1,05/09/2023,NPS-IF-3191960 /NPSNIBLMERCHANT 000011159224,NaN,Cr,3000.00,NaN
2,05/09/2023,NPS-IF-3192006 /NPSNIBLMERCHANT 000011159747,NaN,Cr,170.00,NaN
3,05/09/2023,NPS-IF-3192073 /NPSNIBLMERCHANT 000011160439,NaN,Cr,2000.00,NaN
4,05/09/2023,NPS-IF-3192037 /NPSNIBLMERCHANT 000011160040,NaN,Cr,100.00,NaN
5,05/09/2023,NPS-IF-3191984 /NPSNIBLMERCHANT 000011159578,NaN,Cr,29700.00,NaN
...,...,...,...,...,...,...
1652,05/09/2023,NPS-IF-3201322 /NPSNIBLMERCHANT 000011212834,NaN,Cr,20000.00,NaN
1653,05/09/2023,NPS-IF-3201324 /NPSNIBLMERCHANT 000011212841,NaN,Cr,101166.24,NaN
1654,05/09/2023,NPS-IF-3201325 /NPSNIBLMERCHANT 000011212844,NaN,Cr,30585.00,NaN
1655,05/09/2023,NPS-IF-3201339 /NPSNIBLMERCHANT 000011213064,NaN,Cr,61930.05,NaN
1656,05/09/2023,Date Summary,NaN,NaN,NaN,11536117.20

In [31]:
for index, row in bank_statement_df.iterrows():
    if "NPS-IF-" in str(row["Description"]):
        match = re.search(r'NPS-IF-(\d{7})', str(row["Description"]))
        if match:
            id = match.group(1)
            bank_statement_df.loc[index, 'Transaction ID'] = id

    elif "10000" in str(row["Description"]):
        id = re.findall(r'10000*[0-9]{7}',str(row["Description"]))
        bank_statement_df.loc[index, 'Transaction ID'] = id[0].replace("10000","")
    
    elif "FTMS-" in str(row["Description"]):
        match = re.search(r'FTMS-(\d+)',str(row["Description"]))
        if match:
            id= match.group(1)
            bank_statement_df.loc[index, 'Transaction ID'] = id

C:\Users\Administrator\AppData\Local\Temp\ipykernel_66452\1548050189.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_statement_df.loc[index, 'Transaction ID'] = id

In [32]:
bank_statement_df.head(30)

,Transaction Date,Description,Check No.,Cr/Dr,Transaction Amount,Balance,Transaction ID
1,05/09/2023,NPS-IF-3191960 /NPSNIBLMERCHANT 000011159224,NaN,Cr,3000.00,NaN,3191960
2,05/09/2023,NPS-IF-3192006 /NPSNIBLMERCHANT 000011159747,NaN,Cr,170.00,NaN,3192006
3,05/09/2023,NPS-IF-3192073 /NPSNIBLMERCHANT 000011160439,NaN,Cr,2000.00,NaN,3192073
4,05/09/2023,NPS-IF-3192037 /NPSNIBLMERCHANT 000011160040,NaN,Cr,100.00,NaN,3192037
5,05/09/2023,NPS-IF-3191984 /NPSNIBLMERCHANT 000011159578,NaN,Cr,29700.00,NaN,3191984
6,05/09/2023,NPS-IF-3191964 /NPSNIBLMERCHANT 000011159247,NaN,Cr,3000.00,NaN,3191964
7,05/09/2023,NPS-IF-3191968 /NPSNIBLMERCHANT 000011159285,NaN,Cr,25000.00,NaN,3191968
8,05/09/2023,NPS-IF-3192013 /NPSNIBLMERCHANT 000011159823,NaN,Cr,54193.65,NaN,3192013
9,05/09/2023,NPS-IF-3192014 /NPSNIBLMERCHANT 000011159836,NaN,Cr,27000.00,NaN,3192014
10,05/09/2023,NPS-IF-3192070 /NPSNIBLMERCHANT 000011160380,NaN,Cr,1000.00,NaN,3192070
11,05/09/2023,NPS-IF-3191994 /NPSNIBLMERCHANT 000011159694,NaN,Dr,-300000.00,NaN,3191994
12,05/09/2023,NPS-IF-3192047 /NPSNIBLMERCHANT 000011160176,NaN,Cr,500.00,NaN,3192047
13,05/09/2023,NPS-IF-3191985 /NPSNIBLMERCHANT 000011159585,NaN,Cr,25000.00,NaN,3191985
14,05/09/2023,NPS-IF-3192009 /NPSNIBLMERCHANT 000011159776,NaN,Cr,2000.00,NaN,3192009
15,05/09/2023,NPS-IF-3191991 /NPSNIBLMERCHANT 000011159656,NaN,Cr,22000.00,NaN,3191991
16,05/09/2023,NPS-IF-3192024 /NPSNIBLMERCHANT 000011159911,NaN,Dr,-29810.30,NaN,3192024
17,05/09/2023,NPS-IF-3192080 /NPSNIBLMERCHANT 000011160479,NaN,Cr,1000.00,NaN,3192080
18,05/09/2023,NPS-IF-3192000 /NPSNIBLMERCHANT 000011159711,NaN,Cr,49000.00,NaN,3192000
19,05/09/2023,NPS-IF-3192003 /NPSNIBLMERCHANT 000011159717,NaN,Dr,-3290.40,NaN,3192003
20,05/09/2023,NPS-IF-3192031 /NPSNIBLMERCHANT 000011159939,NaN,Dr,-20000.00,NaN,3192031
21,05/09/2023,NPS-IF-3192085 /NPSNIBLMERCHANT 000011160526,NaN,Cr,2600.00,NaN,3192085
22,05/09/2023,NPS-IF-3192123 /NPSNIBLMERCHANT 000011160810,NaN,Dr,-7194.00,NaN,3192123
23,05/09/2023,NPS-IF-3192156 /NPSNIBLMERCHANT 000011161168,NaN,Cr,2000.00,NaN,3192156
24,05/09/2023,NPS-IF-3192160 /NPSNIBLMERCHANT 000011161258,NaN,Dr,-25000.00,NaN,3192160
25,05/09/2023,NPS-IF-3192204 /NPSNIBLMERCHANT 000011161796,NaN,Cr,1000.00,NaN,3192204
26,05/09/2023,NPS-IF-3192224 /NPSNIBLMERCHANT 000011162049,NaN,Dr,-100000.00,NaN,3192224
27,05/09/2023,NPS-IF-3192227 /NPSNIBLMERCHANT 000011162063,NaN,Dr,-18000.00,NaN,3192227
28,05/09/2023,NPS-IF-3192255 /NPSNIBLMERCHANT 000011162223,NaN,Dr,-10500.00,NaN,3192255
29,05/09/2023,HP-43CN9fe0b16b14739 /NPSNIBLMERCHANT 00001116...,NaN,Dr,-497.50,NaN,NaN
30,05/09/2023,NPS-IF-3192266 /NPSNIBLMERCHANT 000011162277,NaN,Cr,2450.00,NaN,3192266

In [33]:
bank_statement_df.columns

Index(['Transaction Date', 'Description', 'Check No.', 'Cr/Dr',
       'Transaction Amount', 'Balance', 'Transaction ID'],
      dtype='object', name=0)

In [34]:
bank_statement_df['Transaction Amount'] = bank_statement_df['Transaction Amount'].astype(float)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_66452\167771526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_statement_df['Transaction Amount'] = bank_statement_df['Transaction Amount'].astype(float)

In [35]:
bank_statement_df['Transaction ID'].count()

1614

In [36]:
def standard_format_phase_4(row):
    """
    Determine transaction mode and amount from bank statement data.

    Parameters:
        row (Series): A row of bank statement data.

    Returns:
        Series: Mode (CR/DR) and amount.
    """
    if row['Cr/Dr'] == 'Dr' :
        mode = 'DR'
        amount = abs(row['Transaction Amount'])
    elif row['Cr/Dr'] == 'Cr':
        mode = 'CR'
        amount = row['Transaction Amount']
    else:
        mode = None
        amount = None
    return pd.Series([mode, amount], index=['Mode', 'Amount'])

In [37]:
bank_statement_df[['Mode', 'Amount']] = bank_statement_df.apply(standard_format_phase_4, axis=1)
bank_statement_df.drop(columns=['Cr/Dr','Transaction Amount'],axis=1,inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_66452\1213839690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_statement_df[['Mode', 'Amount']] = bank_statement_df.apply(standard_format_phase_4, axis=1)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_66452\1213839690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_statement_df[['Mode', 'Amount']] = bank_statement_df.apply(standard_format_phase_4, axis=1)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_66452\1213839690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_statement_df.drop(columns=['Cr/Dr','Transaction Amount'],axis=1,inplace=True)

In [38]:
bank_statement_df

,Transaction Date,Description,Check No.,Balance,Transaction ID,Mode,Amount
1,05/09/2023,NPS-IF-3191960 /NPSNIBLMERCHANT 000011159224,NaN,NaN,3191960,CR,3000.00
2,05/09/2023,NPS-IF-3192006 /NPSNIBLMERCHANT 000011159747,NaN,NaN,3192006,CR,170.00
3,05/09/2023,NPS-IF-3192073 /NPSNIBLMERCHANT 000011160439,NaN,NaN,3192073,CR,2000.00
4,05/09/2023,NPS-IF-3192037 /NPSNIBLMERCHANT 000011160040,NaN,NaN,3192037,CR,100.00
5,05/09/2023,NPS-IF-3191984 /NPSNIBLMERCHANT 000011159578,NaN,NaN,3191984,CR,29700.00
...,...,...,...,...,...,...,...
1652,05/09/2023,NPS-IF-3201322 /NPSNIBLMERCHANT 000011212834,NaN,NaN,3201322,CR,20000.00
1653,05/09/2023,NPS-IF-3201324 /NPSNIBLMERCHANT 000011212841,NaN,NaN,3201324,CR,101166.24
1654,05/09/2023,NPS-IF-3201325 /NPSNIBLMERCHANT 000011212844,NaN,NaN,3201325,CR,30585.00
1655,05/09/2023,NPS-IF-3201339 /NPSNIBLMERCHANT 000011213064,NaN,NaN,3201339,CR,61930.05
1656,05/09/2023,Date Summary,NaN,11536117.20,NaN,None,NaN

In [39]:
bank_statement_df['Date'] = pd.to_datetime(bank_statement_df['Transaction Date'], format="%m/%d/%Y").dt.date

C:\Users\Administrator\AppData\Local\Temp\ipykernel_66452\1779748690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_statement_df['Date'] = pd.to_datetime(bank_statement_df['Transaction Date'], format="%m/%d/%Y").dt.date

In [40]:
bank_statement_df

,Transaction Date,Description,Check No.,Balance,Transaction ID,Mode,Amount,Date
1,05/09/2023,NPS-IF-3191960 /NPSNIBLMERCHANT 000011159224,NaN,NaN,3191960,CR,3000.00,2023-05-09
2,05/09/2023,NPS-IF-3192006 /NPSNIBLMERCHANT 000011159747,NaN,NaN,3192006,CR,170.00,2023-05-09
3,05/09/2023,NPS-IF-3192073 /NPSNIBLMERCHANT 000011160439,NaN,NaN,3192073,CR,2000.00,2023-05-09
4,05/09/2023,NPS-IF-3192037 /NPSNIBLMERCHANT 000011160040,NaN,NaN,3192037,CR,100.00,2023-05-09
5,05/09/2023,NPS-IF-3191984 /NPSNIBLMERCHANT 000011159578,NaN,NaN,3191984,CR,29700.00,2023-05-09
...,...,...,...,...,...,...,...,...
1652,05/09/2023,NPS-IF-3201322 /NPSNIBLMERCHANT 000011212834,NaN,NaN,3201322,CR,20000.00,2023-05-09
1653,05/09/2023,NPS-IF-3201324 /NPSNIBLMERCHANT 000011212841,NaN,NaN,3201324,CR,101166.24,2023-05-09
1654,05/09/2023,NPS-IF-3201325 /NPSNIBLMERCHANT 000011212844,NaN,NaN,3201325,CR,30585.00,2023-05-09
1655,05/09/2023,NPS-IF-3201339 /NPSNIBLMERCHANT 000011213064,NaN,NaN,3201339,CR,61930.05,2023-05-09
1656,05/09/2023,Date Summary,NaN,11536117.20,NaN,None,NaN,2023-05-09