In [1]:
import pandas as pd
import re

In [2]:
bank_statement_df = pd.read_excel('D:/NPS/Manjushree.xlsx', header=0)
soa_statement_df = pd.read_excel('D:/NPS/Manjushree SOA.xlsx', header=0)

In [7]:
bank_statement_df

,S.N,Ac.Number,Amount,Desc1,Desc2,Desc3,Date,Number,Transaction ID
0,1,9200008062,-700.00,THAILI#TID#10000238,NPS-IF-2868704,NIBLNPKTOff,2023-07-22T00:00:00,NaN,2868704
1,2,9200008062,4800.00,9821126700,100003827100,572974Off,2023-07-22T00:00:00,NaN,3827100
2,3,9200008062,1000.00,9851112825,100003830273,573803Off,2023-07-22T00:00:00,NaN,3830273
3,4,9200008062,500.00,9815690713,100003828864,573397Off,2023-07-22T00:00:00,NaN,3828864
4,5,9200008062,5060.00,9849968135,100003829123,573456Off,2023-07-22T00:00:00,NaN,3829123
5,6,9200008062,-1029.00,GMEREMIT#GME-R74260,NPS-IF-2868360,GLBBNPKAOff,2023-07-22T00:00:00,NaN,2868360
6,7,9200008062,1400.00,9842056301,100003824033,572090,2023-07-21T00:00:00,NaN,3824033
7,8,9200008062,113.00,9803554060,100003824922,572315,2023-07-21T00:00:00,NaN,3824922
8,9,9200008062,530.00,9816936854,100003823595,571977,2023-07-21T00:00:00,NaN,3823595
9,10,9200008062,-26125.00,LALITMONEY#Remit T6,NPS-IF-2865255,RBBANPKA,2023-07-21T00:00:00,NaN,2865255
10,11,9200008062,200.00,9845691167,100003823199,571916Off,2023-07-21T00:00:00,NaN,3823199
11,12,9200008062,-10000.00,NICASIA#Pay,NPS-IF-2856973,NICENPKA,2023-07-20T00:00:00,NaN,2856973
12,13,9200008062,272.00,9847027298,100003819799,571004,2023-07-20T00:00:00,NaN,3819799
13,14,9200008062,840.00,9843409669,100003817379,570544Off,2023-07-20T00:00:00,NaN,3817379
14,15,9200008062,100.00,9816343533,100003820006,571056,2023-07-20T00:00:00,NaN,3820006
15,16,9200008062,500.00,9818153800,100003820333,571137,2023-07-20T00:00:00,NaN,3820333
16,17,9200008062,900.00,9842056301,100003820992,571296,2023-07-20T00:00:00,NaN,3820992
17,18,9200008062,970.00,9842056301,100003814592,569613,2023-07-19T00:00:00,NaN,3814592
18,19,9200008062,-23863.67,PRABHUMONEY#PMT9118,NPS-IF-2849941,NIBLNPKTOff,2023-07-19T00:00:00,NaN,2849941
19,20,9200008062,-2000.00,NICASIA#akash,NPS-IF-2852315,NICENPKA,2023-07-19T00:00:00,NaN,2852315
20,21,9200008062,850.00,9815690713,100003815525,569856,2023-07-19T00:00:00,NaN,3815525
21,22,9200008062,26500.00,9857034285,100003815909,569998,2023-07-19T00:00:00,NaN,3815909
22,23,9200008062,25.00,9845641678,100003814765,569657,2023-07-19T00:00:00,NaN,3814765
23,24,9200008062,300.00,9818153800,100003816395,570179,2023-07-19T00:00:00,NaN,3816395
24,25,9200008062,900.00,9842056301,100003814997,569699,2023-07-19T00:00:00,NaN,3814997
25,26,9200008062,1000.00,9845641678,100003814416,569581,2023-07-19T00:00:00,NaN,3814416
26,27,9200008062,500.00,9842056301,100003811953,569031,2023-07-18T00:00:00,NaN,3811953
27,28,9200008062,900.00,9842056301,100003809776,568282,2023-07-18T00:00:00,NaN,3809776
28,29,9200008062,550.00,9841257274,100003811453,568788,2023-07-18T00:00:00,NaN,3811453
29,30,9200008062,1000.00,9809246869,100003810498,568480,2023-07-18T00:00:00,NaN,3810498
30,31,9200008062,-160.00,THAILI#TID#10000236,NPS-IF-2847673,NIBLNPKT,2023-07-18T00:00:00,NaN,2847673
31,32,9200008062,95.00,9847026399,100003810106,568385,2023-07-18T00:00:00,NaN,3810106
32,33,9200008062,1120.00,9809246869,100003811882,568986,2023-07-18T00:00:00,NaN,3811882
33,34,9200008062,2000.00,9842037649,100003810877,568589,2023-07-18T00:00:00,NaN,3810877
34,35,9200008062,155.00,9803582632,100003804653,567278,2023-07-17T00:00:00,NaN,3804653
35,36,9200008062,500.00,9841289724,100003806345,567704,2023-07-17T00:00:00,NaN,3806345
36,37,9200008062,105.00,9803582632,100003804724,567295,2023-07-17T00:00:00,NaN,3804724
37,38,9200008062,1800.00,9842264028,100003801780,566594Off,2023-07-17T00:00:00,NaN,3801780
38,39,9200008062,61.00,9804169606,100003802445,566743Off,2023-07-17T00:00:00,NaN,3802445
39,40,9200008062,150.00,9842056301,100003806752,567847,2023-07-17T00:00:00,NaN,3806752
40,41,9200008062,600.00,9841725985,100003802396,566739Off,2023-07-17T00:00:00,NaN,3802396
41,42,9200008062,-20277.49,PRABHUMONEY#PMT9182,NPS-IF-2841236,NIBLNPKT,2023-07-17T00:00:00,NaN,2841236

In [6]:
for index, row in bank_statement_df.iterrows():
    # print(bank_statement_df.iloc[index]['transaction_id'])
        
        if "NPS-IF-" in str(row["Desc2"]):
            id = re.findall(r'[0-9]{7}',str(row["Desc2"]))
            bank_statement_df.loc[index, 'Transaction ID'] = id[0]
   
        elif "10000" in str(row["Desc2"]):
            id = re.findall(r'10*[0-9]{7}',str(row["Desc2"]))
            bank_statement_df.loc[index, 'Transaction ID'] = id[0].replace("10000","")

In [8]:
banknotmatch = []
bankcr = 0
bankdr = 0

for index1 , bank_statement in bank_statement_df.iterrows():
    if str(bank_statement['Transaction ID']) in str(soa_statement_df['Transaction Id'].values):
        # bankdr += abs(float(bank_statement["DEBIT"]))
        # bankcr += abs(float(bank_statement["CREDIT"]))
        continue
        
    banknotmatch.append(bank_statement)
   
print(banknotmatch)             
print(bankcr)
print(bankdr)

[]
0
0

In [9]:
soanotmatch = []
soacr = 0
soadr = 0
for indexsoa , soa_statement in soa_statement_df.iterrows():
    if str(soa_statement['Transaction Id']) in (bank_statement_df['Transaction ID'].values):
        # if soa_statement['Mode'] == 'CR':
        #     soacr += soa_statement['Amount']
        # else:
        #     soadr += soa_statement['Amount']
        continue
    soanotmatch.append(soa_statement)

print(soanotmatch)         
print(soacr)
print(soadr)

[]
0
0