In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
bank_statement_df = pd.read_excel(r"D:\For Auto Recon\BANK STATEMENT REPORT FOR RECONCILE Phase1-20230807T053815Z-001\BANK STATEMENT REPORT FOR RECONCILE Phase1\STATEMENT OF Kamana.xlsx",skiprows=1)
soa_statement_df = pd.read_csv(r"D:\For Auto Recon\SOA REPORT FOR RECONCILE Phase1-20230807T053702Z-001\SOA REPORT FOR RECONCILE Phase1\Commission Report (12_25_2020 to 07_17_2021)Kamana Bank.csv",encoding='latin-1')

In [3]:
bank_statement_df.head()

,TranDate,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,TranId,Desc2,Desc3,OrderByDate,NostroBranch
0,10/09/2077,10/09/2077,9841812052,10/09/2077,0,10,0,HPP163451,100000212449,660184,25/12/2020,41.0
1,10/09/2077,10/09/2077,~Date summary,NaN,0,0,10,NaN,NaN,NaN,25/12/2020,NaN
2,17/11/2077,17/11/2077,9811390279,17/11/2077,0,5000,0,HPP122548,100000329326,795104,01/03/2021,82.0
3,17/11/2077,17/11/2077,9845197463,17/11/2077,0,2000,0,HPP114722,100000329188,795007,01/03/2021,20.0
4,17/11/2077,17/11/2077,~Date summary,NaN,0,0,7010,NaN,NaN,NaN,01/03/2021,NaN

In [4]:
bank_statement_df = bank_statement_df.loc[bank_statement_df['Desc1'] != '~Date summary']

In [5]:
bank_statement_df.head()

,TranDate,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,TranId,Desc2,Desc3,OrderByDate,NostroBranch
0,10/09/2077,10/09/2077,9841812052,10/09/2077,0,10,0,HPP163451,100000212449,660184,25/12/2020,41.0
2,17/11/2077,17/11/2077,9811390279,17/11/2077,0,5000,0,HPP122548,100000329326,795104,01/03/2021,82.0
3,17/11/2077,17/11/2077,9845197463,17/11/2077,0,2000,0,HPP114722,100000329188,795007,01/03/2021,20.0
5,18/11/2077,18/11/2077,9824035274,18/11/2077,0,500,0,HPP130336,100000331430,797377,02/03/2021,69.0
6,18/11/2077,18/11/2077,9843732924,18/11/2077,0,20900,0,HPP133557,100000331509,797439,02/03/2021,77.0

In [9]:
for index, row in bank_statement_df.iterrows():
    if '100000' in row['Desc2']:
    # Split the description into words
        description_words = row['Desc2'].split()
        value = description_words[0]
        id = re.sub(r'10*', '', value, count=1)
        bank_statement_df.loc[index, 'Transaction Id'] = id
        
        # print(description_words)

In [10]:
bank_statement_df.head(20)

,TranDate,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,TranId,Desc2,Desc3,OrderByDate,NostroBranch,Transaction Id
0,10/09/2077,10/09/2077,9841812052,10/09/2077,0,10,0,HPP163451,100000212449,660184,25/12/2020,41.0,212449
2,17/11/2077,17/11/2077,9811390279,17/11/2077,0,5000,0,HPP122548,100000329326,795104,01/03/2021,82.0,329326
3,17/11/2077,17/11/2077,9845197463,17/11/2077,0,2000,0,HPP114722,100000329188,795007,01/03/2021,20.0,329188
5,18/11/2077,18/11/2077,9824035274,18/11/2077,0,500,0,HPP130336,100000331430,797377,02/03/2021,69.0,331430
6,18/11/2077,18/11/2077,9843732924,18/11/2077,0,20900,0,HPP133557,100000331509,797439,02/03/2021,77.0,331509
7,18/11/2077,18/11/2077,9847547705,18/11/2077,0,1000,0,HPP174738,100000332069,798190,02/03/2021,24.0,332069
9,19/11/2077,19/11/2077,9809125280,19/11/2077,0,1400,0,HPP071418,100000332794,798834,03/03/2021,96.0,332794
10,19/11/2077,19/11/2077,9846844693,19/11/2077,0,700,0,HPP193133,100000334510,800409,03/03/2021,58.0,334510
11,19/11/2077,19/11/2077,9847013983,19/11/2077,0,3400,0,HPP115655,100000333455,799434,03/03/2021,116.0,333455
12,19/11/2077,19/11/2077,9847013983,19/11/2077,0,10000,0,HPP114757,100000333428,799410,03/03/2021,116.0,333428
13,19/11/2077,19/11/2077,9847013983,19/11/2077,0,10000,0,HPP112320,100000333341,799337,03/03/2021,116.0,333341
14,19/11/2077,19/11/2077,9847547705,19/11/2077,0,500,0,HPP160553,100000334081,799979,03/03/2021,24.0,334081
15,19/11/2077,19/11/2077,9860171183,19/11/2077,0,5000,0,HPP081727,100000332890,798920,03/03/2021,100.0,332890
17,20/11/2077,20/11/2077,9800616200,20/11/2077,0,2100,0,HPP131016,100000335661,801542,04/03/2021,61.0,335661
18,20/11/2077,20/11/2077,9800616200,20/11/2077,0,8000,0,HPP130046,100000335635,801519,04/03/2021,61.0,335635
19,20/11/2077,20/11/2077,9843211419,20/11/2077,0,500,0,HPP070847,100000334900,800763,04/03/2021,37.0,334900
20,20/11/2077,20/11/2077,9845056375,20/11/2077,0,2000,0,HPP074747,100000334934,800807,04/03/2021,34.0,334934
21,20/11/2077,20/11/2077,9847547705,20/11/2077,0,1000,0,HPP150940,100000335914,801816,04/03/2021,24.0,335914
22,20/11/2077,20/11/2077,9847547705,20/11/2077,0,1000,0,HPP152602,100000335951,801858,04/03/2021,24.0,335951
23,20/11/2077,20/11/2077,9847547705,20/11/2077,0,1000,0,HPP152253,100000335948,801853,04/03/2021,24.0,335948

In [11]:
bank_statement_df['Transaction Id'].count()

1272

In [1]:
# !pip install nepali_datetime

Requirement already satisfied: nepali_datetime in c:\programdata\anaconda3\lib\site-packages (1.0.7)

In [ ]:
#  nepali_datetime.datetime.strptime(bank_statement_df['Tran'], "%m/%d/%Y")