In [79]:
import pandas as pd
import numpy as np
from datetime import datetime
import re

In [80]:
bank_statement_df = pd.read_excel(r"D:\For Auto Recon\BANK STATEMENT REPORT FOR RECONCILE Phase1-20230807T053815Z-001\BANK STATEMENT REPORT FOR RECONCILE Phase1\NCC 25-08-2020 to 14-01-2022.xlsx", skiprows=1)
soa_statement_df = pd.read_csv(r"D:\For Auto Recon\SOA REPORT FOR RECONCILE Phase1-20230807T053702Z-001\SOA REPORT FOR RECONCILE Phase1\Commission Report (08_25_2020 to 01_14_2022) NCC bank.csv",encoding='latin-1')

In [81]:
bank_statement_df.head()

,Date,Desc1,Desc2,Desc3,ValueDate,Debit,Credit,Balance,Reference No,TranId
0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN
2,NaN,MainCode ->9281305090100,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN
3,NaN,Name ->NEPAL PAYMENT SOLUTION RECEIVABLE/P...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN
4,25/08/2020,9808600614,100000005321,807299,08/25/2020,0.0,1000.0,0.0,2.250821e+12,BV5124321

In [82]:
bank_statement_df.drop(index=bank_statement_df.index[0:4], axis=0, inplace=True)

In [83]:
bank_statement_df.head(15)

,Date,Desc1,Desc2,Desc3,ValueDate,Debit,Credit,Balance,Reference No,TranId
4,25/08/2020,9808600614,100000005321,807299,08/25/2020,0.0,1000.0,0.0,2.250821e+12,BV5124321
5,25/08/2020,9818355887,100000005432,807613,08/25/2020,0.0,5000.0,0.0,2.250821e+12,BV5143131
6,25/08/2020,9818355887,100000005395,807519,08/25/2020,0.0,500.0,0.0,2.250821e+12,BV5135803
7,25/08/2020,9841418119,100000005485,807773,08/25/2020,0.0,500.0,0.0,2.250821e+12,BV5153136
8,25/08/2020,9841883357,100000005394,807518,08/25/2020,0.0,500.0,0.0,2.250821e+12,BV5135657
9,25/08/2020,9842071597,100000005510,807855,08/25/2020,0.0,800.0,0.0,2.250821e+12,BV5160248
10,25/08/2020,9842071597,100000005508,807847,08/25/2020,0.0,500.0,0.0,2.250821e+12,BV5160017
11,25/08/2020,9842071597,100000005516,807860,08/25/2020,0.0,500.0,0.0,2.250821e+12,BV5160555
12,25/08/2020,9846517518,100000005203,806999,08/25/2020,0.0,100.0,0.0,2.250821e+12,BV5110434
13,25/08/2020,9848431655,100000005355,807408,08/25/2020,0.0,2000.0,0.0,2.250821e+12,BV5131507
14,25/08/2020,9848431655,100000005295,807272,08/25/2020,0.0,500.0,0.0,2.250821e+12,BV5123213
15,25/08/2020,9848781205,100000005281,807225,08/25/2020,0.0,1000.0,0.0,2.250821e+12,BV5121302
16,25/08/2020,9849654431,100000005494,807792,08/25/2020,0.0,5000.0,0.0,2.250821e+12,BV5153705
17,25/08/2020,9849942799,100000005257,807164,08/25/2020,0.0,3500.0,0.0,2.250821e+12,BV5115030
18,25/08/2020,9849942799,100000005253,807160,08/25/2020,0.0,500.0,0.0,2.250821e+12,BV5114913

In [84]:
bank_statement_df[bank_statement_df['Desc1'] == '~Date Summary'].count()

Date            503
Desc1           503
Desc2             0
Desc3             0
ValueDate         0
Debit           503
Credit          503
Balance         503
Reference No      0
TranId            0
dtype: int64

In [85]:
bank_statement_df = bank_statement_df[bank_statement_df['Desc1'] != '~Date Summary']

In [86]:
for index, row in bank_statement_df.iterrows():
        if "10000000" in str(row["Desc2"]):
            id_matches = re.findall(r'10*[0-9]{4}', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0].replace("10000000", "")
                bank_statement_df.loc[index, 'Transaction Id'] = id
        elif "1000000" in str(row["Desc2"]):
            id_matches = re.findall(r'10*[0-9]{5}', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0].replace("1000000", "")
                bank_statement_df.loc[index, 'Transaction Id'] = id
        elif "100000" in str(row["Desc2"]):
            id_matches = re.findall(r'10*[0-9]{6}', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0].replace("100000", "")
                bank_statement_df.loc[index, 'Transaction Id'] = id
        elif "10000" in str(row["Desc2"]):
            id_matches = re.findall(r'10*[0-9]{7}', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0].replace("10000", "")
                bank_statement_df.loc[index, 'Transaction Id'] = id
        if 'null' in str(row["Desc2"]):
            id_matches = re.findall(r'null\s*(\d+)', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0]
                bank_statement_df.loc[index, 'Transaction Id'] = id
        if 'FT-' in str(row['Desc3']):
            id_matches = re.findall(r'FT-(\d+)', str(row['Desc3']))
            if id_matches:
                id = id_matches[0]
                bank_statement_df.at[index, 'Transaction Id'] = id
        # elif "100000" in str(row["Ref Num"]):
        #     id_matches = re.findall(r'10*[0-9]{6}', str(row["Ref Num"]))
        #     if id_matches:
        #         id = id_matches[0].replace("100000", "")
        #         bank_statement_df.loc[index, 'Transaction Id'] = id

In [87]:
bank_statement_df.loc[9167:9187]

,Date,Desc1,Desc2,Desc3,ValueDate,Debit,Credit,Balance,Reference No,TranId,Transaction Id
9167,30/03/2021,9851004710,100000391555,1656847,03/30/2021,0.0,2000.0,0.0,2.300322e+12,BV5120114,391555
9168,30/03/2021,9851061107,100000391278,1656319,03/30/2021,0.0,26200.0,0.0,2.300322e+12,BV5103207,391278
9169,30/03/2021,9851219094,100000392046,1657688,03/30/2021,0.0,200.0,0.0,2.300322e+12,BV5143052,392046
9170,30/03/2021,9858055504,100000392598,1658878,03/30/2021,0.0,1000.0,0.0,2.300322e+12,BV5182524,392598
9171,30/03/2021,9864824777,100000391971,1657597,03/30/2021,0.0,20000.0,0.0,2.300322e+12,BV5141323,391971
9172,30/03/2021,9866848694,100000390680,1654774Off,03/30/2021,0.0,500.0,0.0,2.290322e+12,BV5204117,390680
9174,31/03/2021,16423756,null 1061,11061-CIPS,03/31/2021,350015.0,0.0,0.0,2.210331e+12,PAY173117,1061
9175,31/03/2021,9801085386,100000393035,1659976Off,03/31/2021,0.0,5000.0,0.0,2.300322e+12,BV5230112,393035
9176,31/03/2021,9805916345,100000394404,1662826,03/31/2021,0.0,5000.0,0.0,2.310322e+12,BV5154024,394404
9177,31/03/2021,9808221324,100000393153,1660311,03/31/2021,0.0,200.0,0.0,2.310322e+12,BV5074606,393153
9178,31/03/2021,9808453280,100000393964,1661973,03/31/2021,0.0,500.0,0.0,2.310322e+12,BV5125931,393964
9179,31/03/2021,9808870683,100000393050,1660041,03/31/2021,0.0,4000.0,0.0,2.310322e+12,BV5005112,393050
9180,31/03/2021,9810127908,100000393871,1661808,03/31/2021,0.0,2000.0,0.0,2.310322e+12,BV5122923,393871
9181,31/03/2021,9810296935,100000393316,1660768,03/31/2021,0.0,500.0,0.0,2.310322e+12,BV5093843,393316
9182,31/03/2021,9810343939,100000394843,1663792,03/31/2021,0.0,500.0,0.0,2.310322e+12,BV5184412,394843
9183,31/03/2021,9813735150,100000394616,1663263,03/31/2021,0.0,500.0,0.0,2.310322e+12,BV5170519,394616
9184,31/03/2021,9813735150,100000394617,1663270,03/31/2021,0.0,500.0,0.0,2.310322e+12,BV5170622,394617
9185,31/03/2021,9815026242,100000394284,1662616,03/31/2021,0.0,9834.0,0.0,2.310322e+12,BV5145345,394284
9186,31/03/2021,9815201949,100000394195,1662421,03/31/2021,0.0,1015.0,0.0,2.310322e+12,BV5142031,394195
9187,31/03/2021,9815367816,100000394654,1663355,03/31/2021,0.0,980.0,0.0,2.310322e+12,BV5172111,394654

In [88]:
bank_statement_df['Transaction Id'].count()

21993

In [89]:
is_present = 1061 in bank_statement_df['Transaction Id'].values

In [90]:
is_present

False